<ul class="main">
    <li><a href="/"><h1>Austin Shin</h1></a></li>
    <li><a href="{{ root_url }}/blog/">Blog</a></li>
    <li><a href="{{ root_url }}/blog/categories/sideproject">Side Projects</a></li>
    <li><a href="{{ root_url }}/about">Achievements</a></li>
    <li><a href="https://github.com/austinshin">Github</a></li>
    <li><a href="https://instagram.com/link115">Instagram</a></li>
    <li><a href="https://twitter.com/link115_">Twitter</a></li>
    <li><a href="https://www.youtube.com/playlist?list=PLfdaAogiAw-igfBt_uIBuO3uewbsPENzw">Playlist</a></li>
    <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  </ul>
